@charset "UTF-8";
/* 共通パーツ */
html{
    scroll-behavior: smooth;
}
body{
    font-family:'游明朝 Medium', "游教科書体", serif;
    box-sizing: border-box;
    color: #fff;
    width: 100%;
    font-size: 16px;
    background-color: #000;
}
ul,li,ol{
    list-style-type: none;
}
a{
    color: #fff;
    text-decoration: none;
    transition: 0.6s;
}
img{
    vertical-align: bottom;
}
.container{
    max-width: 1024px;
    margin: 0 auto;
}
.section-title{
    margin-bottom: 80px;
    font-size: 40px;
    text-align: center;
    position: relative;
}
.section-title::before{
  position: absolute;
  top: 50%;
  left: 0;
  content: '';
  display: inline-block;
  width: 30%;
  height: 2px;
  background-color: #383838;
}
.section-title::after{
  position: absolute;
  top: 50%;
  right: 0;
  content: '';
  display: inline-block;
  width: 30%;
  height: 2px;
  background-color: #383838;
}
#specialty,#menu,#information{
    margin-bottom: 80px;
}
.en{
    font-family: "Cinzel", serif;
}
/* nav */
header{
    background-color: #202020;
}
header > .container {
  height: 100px;
  display: flex;
  align-items: center;
  margin: 0 170px;
  max-width: none;
}
.area-logo-header .logo {
  display: block;
}
.area-logo-header img {
  height: 100px;
  margin: 10px 0;
}
.nav-header {
  margin: 0 0 0 auto;  
}
.list-nav-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.25rem;
}
.list-nav-header li {
    margin-right: 60px;   
}
.list-nav-header > li:last-child{
    margin-right: 0;
}
/* back-btn */
.back-btn{
  display: none;
}
.back-btn.show {
  position: fixed;
  display: block;
  z-index: 100;
  bottom: 50px;
  right: 40px;
  background-color: #5a5a5a;
  border-radius: 5px;
  cursor: pointer;
}
.btn-sc {
  position: relative;
  height: 60px;
  width: 60px;
}
.btn-sc span::before,
.btn-sc span::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 30px;
  background-color: #ffffff;  
  transform-origin: 50% 1px;
  top: 30%;
  left: 50%;
}
.btn-sc span::before {
  transform: rotate(45deg);
}
.btn-sc span::after {
  transform: rotate(-45deg);
}

/* main-visial */
#main-visual{
    margin: 0 auto;
}
.mv-img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

/* bunner */
#banner{
    margin: 80px 0 100px;
}
#banner > a > img{
    display: block;
    height: auto;
    margin: 5% auto;
    width: 60%;
}
#banner > a > img:hover{
    transition: filter 0.3s easa;
    filter: brightness(200%);
}

/* concept */
#concept{
    background-color: #181818;
    padding: 80px 0;
    margin-bottom: 80px;
}
.concept-box{
    display: flex;
}
.concept-box img{
    width: 40%;
    max-height: 580px;
    height: auto;
    object-fit: contain;
}

.concept-text{
    text-align: left;
    margin: 0 10%;
}
.concept-text h3{
    font-size: 24px;
    margin-bottom: 45px;
    margin-top: 20px;
}
.large{
    font-size: 35px;
}
.concept-text{
    font-size: 1.0rem;
}
.concept-text-small{
    margin-bottom: 35px;
}
.name{
    display: block;
    text-align: right;
    margin-bottom: 0;
}

/* specialty */
.specialty{
    display: flex;
    width: 100%;
    margin-bottom: 120px;
    justify-content: center;
    align-items: center;
}
.sp-shop{
    width: 100%;
    height: auto;
    padding-right: 80px;
    filter: brightness(75%);    
}
.sp-field{
    width: 100%;
    height: auto;
    padding-left: 80px;
    padding-right: 0;
    filter: brightness(75%);
}
.sp-item{
    flex-basis: 50%;
}
.specialty-img{
    position: relative;
    width: auto;
    opacity: 80%;
}
.specialty-img span{
    white-space: nowrap;
    position: absolute;
    flex-wrap: nowrap;
    font-size: 1.25rem;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.sp-text-left{
    padding-right: 80px;
}
.sp-text-right{
    padding-left: 80px;
}
.specialty-img > div{
    position: absolute;
}
.mark{
    padding-right: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    filter: brightness(90%);
    transform: translate(-50%, -50%);
}
.mark-three{
    transform: translate(-50%, -47%);
}
.mark-right{
    padding-left: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    filter: brightness(90%);
    transform: translate(-50%, -47%);
}
.sp-two div{
    order: 2;
}
.sp-two p{
    order: 1;
}
.sp-three{
    margin-bottom: 0;
}

/* menues */
.menu-btn ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    font-size: 20px;
}
.menu-btn ul li {
    width: 100%;
    text-align: center;
    margin-right: 5px;
}
.menu-btn ul li:last-child{
    margin-right: 0;
}
.menu-btn ul li a:hover {
    color: #fff;
    background-color: #ff0000;
}
.filter .active{
    background-color: #0000ff;
    color: #fff;
}
.menu-boxes{
    margin-top: 40px;
}
.menu-box{
    display: none;
}
.darts-menu{
    display: block;
}
.darts-menus{
    display: block;
    color: #000;
    background-color: #808080;
    border-radius: 5px;
    line-height: 60px;
}
.menu-item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #1e1e1e;
    margin-bottom: 60px;
    border-radius: 5px;
}
.menu-item-second{
    margin-bottom: 0;
}
.menu-text{
    padding: 60px 60px 60px 0;
    flex-basis: 50%;
}
.menu-note{
    font-size: 13px;
    color: #fff;
    padding-bottom: 5%;
}
.menu-item h3{
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.menu-text-second{
    margin-bottom: 20px;
    color: #fff;
}
.menu-text-third{
    margin-bottom: 20px;
    color: #fff;
    text-align: left;
}
.menu-text-third > span{
    font-size: 1.1rem;
}
.menu-text-second > span{
    font-size: 25px;
}
.menu-price{
    margin-bottom: 0;
    text-align: right;
    color: #fff;
}
.menu-item img{
    width: 35%;
    margin: 0 auto;
}
.darts-lesson{
    color: #0f0;
}
.darts-exchange{
    color: #eba60a;
}
/* information */
.information-box{
    display: flex;
}
.information-box img{
    width: 50%;
    object-fit: cover;
}
.access-box{ 
    display: flex;
    flex-direction: column;
    width: 100%;
}
.access-text{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #fff;
    flex-basis: 50%;
    padding: 15px 0;
}
.access-text-top{
    border-top: 1px solid #fff;
}
.store-name{
    width: 25%;
}
.shop-name{
    font-size: 1.25rem;
}
.access-box{
    margin-left: 40px;
    width: 100%; 
}
.access-place{
    width: 50%;
    align-items: center;
    margin: 0 0 0 auto;
}
.access-text-second{
    display: flex;
    margin-left: 40px;
    border-bottom: 1px solid #ccc;
    padding: 15px 0;
}
.google-map{
    width: 60%;
    height: auto;
}
.access-adress{
    margin-bottom: 10px;
}



/* footer */
footer{
    position: relative;
    background: #181818;
    color: #fff;
    padding-top: 50px;
    padding-bottom: 30px;
}
.footer-wrapper{
    display: flex;
    flex-wrap: nowrap;
}
.footer-wrapper > img{
    display: inline-block;
    align-items: center;
    object-fit: contain;
    width: 35%;
}
.footer-content{
    margin: 0 auto;
}
.footer-content a{
    color:#fff;
}
.footer-menus{
    display: flex;
    margin-bottom: 80px;
}
.footer-menu{
    white-space: nowrap;
}
.promise{
    margin-left: 20%;
}
.footer-menu ul li{
    margin-bottom: 20px;
    flex-basis: auto;
}   
.footer-menu li:last-child{
    margin-bottom: 0;
}
footer small{
    font-size: 0.75rem;
    display: block;
    text-align: center;
}


@media screen and (max-width:599px) {
    /* 共通 */
      #concept,
      #specialty,
      #menu,
      #information{
        scroll-margin-top: 30px;
    }
    .container{
        margin: 0 15px;
        overflow-x: hidden;
    }
    .section-title{
        margin-bottom: 40px;
        font-size: 1.25rem;
    }
    .anchor{
        padding-top: 70px;
        margin-top: -70px;
    }
    /* nav */
    header{
        background-color: #202020;
    }
    header > .container {
        height: 70px;
        margin: 0 15px;
    }
    .area-logo-header img {
        height: 60px;
        margin: 5px 0;
    }
    /* ハンバーガーメニュー */
    .g-navi-sp{
        display: flex;
        margin-left: auto;
        justify-content: center;
    }
    .hamburger-menu {
        width: 50px;
        height: 50px;
        background-color: #4a4a4a;
        border-radius: 5px;
        position: relative;
        appearance: none;
        cursor: pointer;
    }
    .hamburger-menu-bar {
        width: 30px;
        height: 1px;
        background: #fff;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        transition: .5s;
    }
    .hamburger-menu-bar:first-child {
        top: 25%;
    }
    .hamburger-menu-bar:nth-child(2) {
        top: 50%;
    }
    .hamburger-menu-bar:last-child {
        top: 75%;
    }
    .hamburger-menu-open .hamburger-menu-bar {
        top: 50%;
    }
    .hamburger-menu-open .hamburger-menu-bar:first-child,
    .hamburger-menu-open .hamburger-menu-bar:nth-child(2)
    {
        transform: translateX(-50%) translateY(-50%) rotate(45deg);
    }
    .hamburger-menu-open .hamburger-menu-bar:last-child {
        transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    }
    header{
        z-index: 3;
        position: fixed;
        width: 100%;
    }
    header nav{
        display: none;
        z-index: 11;
        position: fixed;
        background-color: rgb(56, 56, 56);
        height: 100%;
        width: 100%;
        top: 70px;
        left: 0;
    }
    .no-scroll {
        overflow: hidden;
        height: 100vh;
    }

    .list-nav-header{
        display: block;
        text-align: center;
    }
    .list-nav-header li {
        z-index: 99;
        margin-right: 0;
    }
    .list-nav-header li a{
        display: block;
        width: 100%;
        font-size: 20px;
        color: #fff;
        margin-top: 40px;
    }
    /* back-btn */
    .back-btn.show {
        bottom: 20px;
        right: 20px;
    }
    .btn-sc {
        height: 50px;
        width: 50px;
    }
    .btn-sc span::before,
    .btn-sc span::after {
        width: 1px;
        height: 24px;
        transform-origin: 50% 0px;
    }
    /* main-visial */
    #main-visual{
        padding-top: 70px;
    }
    .mv-img{
        height: 35vh;
        object-fit: cover;
    }
    /* bunner */
    #banner{
        margin: 40px 0;
    }
    #banner > img{
        display: block;
        width: 100%;
        height: auto;
    }
    /* concept */
    #concept{
        padding: 40px 0;
        margin-bottom: 40px;
    }
    .concept-text h3{
        font-size: 9px;
        margin-bottom: 20px;
    }
    .large{
        font-size: 1.25rem;
    }
    .concept-text{
        font-size: 9px;
    }
    .concept-text-small{
        margin-bottom: 18px;
    }
    .name{
        font-size: 8px;
        margin-bottom: 0;
    }
    /* specialty */
    #specialty{
        margin-bottom: 40px;
    }
    .specialty{
        display: block;
        width: 100%;
        margin-bottom: 40px;
    }
    .sp-shop{
        padding: 0;
    }
    .sp-field{
        padding:0;
    }
    .specialty-img{
        margin-bottom: 24px;
    }
    .specialty-text{
        font-size: 12px
    }
    .specialty-img span{
        font-size: 24px;
    }
    .sp-text-left{
        padding-right: 0;
    }
    .sp-text-right{
        padding-left: 0;
    }
    .mark{
        padding-right: 0;
    }
    .mark-right{
        padding-left: 0;
    }
    .sp-three{
        margin-bottom: 0;
    }
    /* menues */
    #menu{
        margin-bottom: 40px;
    }
    .menu-btn ul {
        flex-wrap: wrap;
        font-size: 14px;
    }
    .menu-btn ul li {
        flex-basis: 48%;
        text-align: center;
        margin: 0 auto 15px;
    }
    .menu-btn ul li:nth-child(2),
    .menu-btn ul li:last-child{
        margin-right: 0;
    } 
    .menu-btn ul li:nth-child(3),
    .menu-btn ul li:last-child{
        margin-bottom: 0;
    }
    .menu-btn ul li a {
        line-height: 35px;
    }
    .menu-tea{
        margin: 0;
    }
    .menu-boxes{
        margin-top: 24px;
    }
    .menu-box{
        margin-bottom: 0;
    }
    .menu-item{
        display: block;
        padding: 24px;
        text-align: center;
        margin-bottom: 24px;
    }
    .menu-item-second{
    margin-bottom: 0;
    }
    .menu-text{
        padding: 0;
        flex-basis: 50%;
    }
    .menu-item h3{
        font-size: 14px;
        margin-bottom: 16px;
    }
    .menu-item p{
        font-size: 12px;
    }
    .menu-text-second{
        margin-bottom: 16px;
    }
    .menu-item img{
        width: 50%;
        margin: 0 auto;
        margin-bottom: 24px;
    }
    /* information */
    #information{
        margin-bottom: 40px;
    }
    .information-box{
        display: block;
    }
    .information-box img{
        width: 100%;
        object-fit: cover;
        margin-bottom: 40px;
    }
    .information-wrapper{
        font-size: 0.75rem;
        margin-bottom: 0;
    }
    .access-box{ 
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .access-text{
        display: flex;
        align-items: center;
        border-bottom: 1px solid #fff;
        flex-basis: 50%;
        padding: 10px 0;
    }
    .access-text-top{
        border-top: 1px solid #fff;
    }
    .shop-name{
        font-size: 14px;
    }
    .access-box{
        margin-left: 0;
        width: 100%; 
    }
    .access-place{
        width: 100%;
    }
    .access-text-second{
        margin-left: 0;
    }
    /* footer */
    footer{
        padding-top: 32px;
        padding-bottom: 16px;
    }
    .footer-wrapper{
        display: flex;
    }
    .footer-wrapper > img{
        width: 25%;
    }
    .footer-content{
        margin: 0 auto;
    }
    .footer-menus{
        display: flex;
        margin-bottom: 24px;
        font-size: 0.75rem;
    }
    .footer-menu{
        white-space: nowrap;
    }
    .promise{
        margin-left: 25%;
    }
    .footer-menu ul li{
        margin-bottom: 16px;
        flex-basis: auto;
    }   
    .footer-menu li:last-child{
        margin-bottom: 0;
    }
    footer small{
        font-size: 8px;
    }
}